useDynLib(nclust)
import(grid)
import(grDevices)

export(rcenter,ccenter,rccenter)

export(wpack,pwsimm)
export(nclust)

export(n2hclust,h2nclust)
export(flipclust)
export(dendrocoord)
export(subclustree)
export(check.inversion)
export(pos2id,sec)
export(treesum)

export(downsample,wrow,wcol,wdownsample)
export(labelpack)
export(ng_xscale,ng_yscale)
export(ng_dendrogram)
export(ng_label)
export(ng_heatmap)
export(ng_tag)
export(red.white.blue,red.black.green)
export(colormap1d,colormap2d)
export(coldmap)
export(crcgenes)

export(lwj)
export(sim)

export(make_tag)
